[Unit]
Description=Telegram API Bot manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/ms-ozon-sync
EnvironmentFile=/opt/ms-ozon-sync/.env
ExecStart=/opt/ms-ozon-sync/venv/bin/python -m bot.bot
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
